# Ignore the virtual environment directory
env/

# Python byte-compiled files
*.pyc
__pycache__/

# Django-specific files
db.sqlite3
*.sqlite3
/media/
*.log

# Ignore environment variables file
.env

# Ignore IDE/editor configuration files
.vscode/
.idea/

# macOS system files
.DS_Store

